<div class="app">
  <div class="app__form">

    <ul class="app__list-params">
      <li 
      [class.invalid]="password.hasError('minlength')"
      [class.medium]="(password.hasError('hasLowerCase') && password.hasError('hasNumeric')) || (password.hasError('hasLowerCase') && password.hasError('hasSymbols')) || (password.hasError('hasNumeric') && password.hasError('hasSymbols'))"
      [class.easy]="password.hasError('hasLowerCase') || password.hasError('hasNumeric') || password.hasError('hasSymbols')"
      [class.success]="password.valid"
      >Easy</li>
      <li 
      [class.invalid]="password.hasError('minlength')"
      [class.success]="password.valid"
      [class.medium]="(password.hasError('hasLowerCase') && password.hasError('hasNumeric')) || (password.hasError('hasLowerCase') && password.hasError('hasSymbols')) || (password.hasError('hasNumeric') && password.hasError('hasSymbols'))"
      >Medium</li>
      <li [class.invalid]="password.hasError('minlength')" [class.success]="password.valid"
      >Hard</li>
    </ul>

    <input type="text"  [formControl]="password" id="password-input">
  </div>

</div>